@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-chakra-petch);
  --font-paragraph: var(--font-inter);

  --color-bg: #ffffff;
  --color-primary: #1ca7c8;
  --color-heading: #284260;
  --color-paragraph: #6e859f;
}

@layer components {
  .heading {
    @apply font-bold font-heading text-heading;
  }

  .paragraph {
    @apply font-normal font-paragraph text-paragraph;
  }
}

body {
  @apply bg-bg text-paragraph
}
