@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-chakra-petch);
  --font-paragraph: var(--font-inter);

  --color-primary: #1ca7c8;
  --color-primary-shadow: #1ca7c830;
  --color-secondary: #8c61d5;

  --color-bg: #ffffff;
  --color-heading: #284260;
  --color-paragraph: #6e859f;
  --color-light-paragraph: #a2bfe0;

  --color-pink: #db73ff;
  --color-gray: #9d9d9d;
}

@layer components {
  .heading {
    @apply font-bold font-heading text-heading dark:text-bg;
  }

  .paragraph {
    @apply font-normal font-paragraph text-paragraph dark:text-light-paragraph;
  }

  .solid {
    @apply bg-primary text-bg dark:text-heading;
  }

  .outlined {
    @apply bg-bg text-primary border-2 border-primary box-border dark:bg-heading;
  }
}

body {
  @apply bg-bg text-paragraph dark:bg-heading dark:text-light-paragraph;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-out both;
  animation: fade-out 300ms ease-out both;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
